html,
body {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: rgb(25, 25, 25);
  color: white;
}
#appLogo {
  background-color: rgb(207, 0, 41);
  color: rgb(255, 255, 255);
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 15%;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
  height: 250px;
}

#appName {
  color: whitesmoke;
  margin: auto;
  margin-left: 5px;
}

#title {
  margin-top: 100px;
}

#titleBar {
  margin-top: 50px;
}

.indexButton {
  margin-top: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
